body {
    background-image: url("foto/calısma4-foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;

}

.navbar-brand {
    font-size: 40px;
}

.awesome {
    font-size: 40px;
}

i {
    color: white;
}

.application {
    color: rgb(248, 96, 24);
}

.google-play {
    background-color: rgb(248, 96, 24);
}
